<!DOCTYPE html>
<html>
  <head>
    <title>Trakr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- Google Maps -->
  <script
    type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_api_key'] %>&libraries=geometry"
  </script>

  </head>
  <body class="logged-out">
    <%= yield %>
  </body>
</html>
